<!--{php168}-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$core.CONFIG['page_charset']}" />
</head>
<body>
\'
<div id="p8_46_$data[id]">测试
<!--{foreach $list $value}-->
	<a href="$value[url]"><img src="$value[image]" alt="$value[name]" /></a>
<!--{/foreach}-->
</div>

<ul>
<!--{foreach $list $value}-->
	<li><a href="$value[url]"><img src="$value[thumb]" alt="$value[name]" /></a></li>
<!--{/foreach}-->
</ul>

<script type="text/javascript">
(function(){

alert('ff"\'\\');

var a = '';
})();
</script>

</body>
</html>
<!--{/php168}-->
