<!--{php168}-->

<!--{php
$i_type = $data['multi'] == 1 ? 'radio' : 'checkbox';
}-->
<a href="{$this_module.controller}-vote?id=$data[id]" target="_blank">$data[name]</a>
<form action="{$this_module.controller}-vote" method="post" target="_blank">
	<ul>
		<!--{foreach $options $v}-->
		<li>
			<input type="$i_type" name="oid[]" id="p8_v_o_{$data['id']}_{$v['id']}" value="$v[id]" /> <label for="p8_v_o_{$data['id']}_{$v['id']}">$v[name]</label>
		</li>
		<!--{/foreach}-->
		<!--{if $data['captcha']}-->
		<li>
			{$P8LANG['captcha']}:<input type="text"  class="txt"  name="captcha" id="captcha" size="10"/> <span id="captchachr"></span>
		</li>	
		<!--{/if}-->
	</ul>
	
	<input type="hidden" name="id" value="$data[id]" />
	<input type="submit" value="{$P8LANG['submit']}" />
</form>

<script type="text/javascript">
(function(){
<!--{if $data['captcha']}-->
	captcha($("#captchachr"), $("input[name=captcha]"));
	<!--{/if}-->
})();
</script>
<!--{/php168}-->
