.tree_menu{background:url(li.gif) no-repeat;width:162x;margin-bottom:5px; }
.tree_menu p{cursor:pointer;padding-left:48px;height:30px;line-height:30px}
.tree_menu dl{padding-left:20px}
.tree_menu  ul{padding-left:20px}
.tree_menu li{line-height:22px;background:url(close.png) no-repeat left 5px}
.tree_menu li span{padding-left:18px;cursor:pointer;}
.tree_menu dd{line-height:22px;margin-left:5px;padding-left:15px;background:url(li.png) no-repeat left 5px}
.tree_menu dd a.over{background-color:#FDEAC0;padding:1px 5px;}
.searchformdiv { background:#EFEFF0 url(zwgksearchbt.gif) 100px center no-repeat; height:20px;_height:30px padding-left:130px;padding:10px 0;text-align:center; border:1px solid #E7E7E7; margin:5px auto; font-size:14px; }
.selectwidth { width:100px; }
.searchformdiv strong { margin-left:10px; }
.searchformdiv font { color:#F00; padding:0 2px; font-size:12px; }
.searchformdiv span { color:#07519A; font-size:12px; font-weight:normal; margin-left:15px; }
#list_table{background-color:#FFF}
#list_table td{background-color:#ffffff;text-align:center;line-height:30px;height:30px;}
#list_table .ltbhead td{background-color:#E6E6E6;color:#9A0A0A;font-weight:bold;line-height:28px;}
#list_table .ltbhead  .white {background-color:#FFF;}
#list_table .ltbhead  .white {background-color:#FFF;}
#list_table2{background-color:#C0C0C0}
#list_table2 td{background-color:#ffffff;padding:5px; text-align:center}
#list_table2 .ltbhead td{background-color:#E6E6E6}

/*政务公开2013_大列表*/
.rtbox_biglist {background: url(biglist_rtbox_conbg_2013.gif) repeat-x scroll center top #fff;border: 1px solid #FCD091;padding:0 12px}
.rtbox_biglist .hd{height:45px;line-height:45px;}
.rtbox_biglist .hd span{background:url(icon3_2013.png) no-repeat left center;padding-left:38px;color:#c42100;font-size:18px;font-weight:bold;margin-right:10px;float:left}
.rtbox_biglist .nav{background:url(icon4_2013.png) no-repeat left center;float:left;margin-top:6px;}
.rtbox_biglist .con{overflow:hidden}
.rtbox_biglist .searchformdiv{background:none;border:none}
.rtbox_biglist .intr_title {color:#ff6500;font-size:30px;font-weight:bold;height: 30px;line-height: 30px;margin:20px 0 0;text-align: center;}
.rtbox_biglist .gov_article_article_info{background:url(subtt_bg.gif) repeat-x;height:28px;line-height:28px;text-align:center;width:95%;margin:10px auto 30px}
.rtbox_biglist .page_con{width:95%;margin:0 auto}
