<!--{php168}-->
<!--{template $core header admin}-->

<script type="text/javascript" src="{$RESOURCE}/js/rcalendar.js"></script>

<div class="mainbox mainborder">
	<table class="formtable">
		<tr>
			<td colspan="2" class="title">生成HTML</td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		
		<form action="$this_url" method="post">
		<tbody>
		<tr>
			<td width="50%" align="right">
				<input type="submit" class="html_btn" value="一键静态首页" onclick="this.form.type.value = 'index_to_html'" />
			</td>
			<td width="50%">*
				<select name="index_to_html">
					<option value="">全部系统首页</option>
					<!--{foreach $core->systems $system $v}-->
					<option value="$system">$v[alias]</option>
					<!--{/foreach}-->
				</select>
				<input type="hidden" name="type" />
			</td>
		</tr>
		</tbody>
		</form>
		
		<form action="{$core.admin_controller}/{$this_system.name}/item-view_to_html" method="post">
		<tbody>
		<tr>
			<td align="right" ><input class="html_btn" type="submit" value="一键静态化所有内容" /></td>
		</tr>
		</tbody>
		</form>
		
		<form action="{$core.admin_controller}/{$this_system.name}/item-list_to_html" method="post">
		<tbody>
		<tr>
			<td align="right" ><input class="html_btn" type="submit" value="一键静态所有栏目" /></td>
		</tr>
		</tbody>
		</form>
		
		<form action="{$core.admin_controller}/{$this_system.name}/item-view_to_html" method="post">
		<tbody>
		<tr>
			<td align="right" ><input class="html_btn" type="submit" value="一键静态某时间段内容" /></td>
			<td>
				<input type="text" class="txt" id="time1" name="time_range[]" onclick="rcalendar(this, 'full', _valid_time_range)" autocomplete="off" />
				-
				<input type="text" class="txt" id="time2" name="time_range[]" onclick="rcalendar(this, 'full', _valid_time_range)" autocomplete="off" />
				<input type="button" value="1小时内" onclick="_set_time_range(mktime(_H, 0, 0, _m, _d, _Y), mktime(_H +1, 0, 0, _m, _d, _Y))" />
				<input type="button" value="今天" onclick="_set_time_range(mktime(0, 0, 0, _m, _d, _Y), mktime(0, 0, 0, _m, _d +1, _Y))" />
				<input type="button" value="近3天" onclick="_set_time_range(mktime(0, 0, 0, _m, _d -3, _Y), mktime(0, 0, 0, _m, _d, _Y))" />
				<input type="button" value="本周" onclick="_set_time_range(mktime(0, 0, 0, _m, _d - _j, _Y), mktime(0, 0, 0, _m, _d + 7 - _j, _Y))" />
				<input type="button" value="本月" onclick="_set_time_range(mktime(0, 0, 0, _m, 1, _Y), mktime(0, 0, 0, _m +1, 1, _Y));" />
				
				<script type="text/javascript">
					var _obj = new Date(<!--{php echo P8_TIME;}-->000);
					var _Y = _obj.getFullYear();
					var _m = _obj.getMonth() +1;
					var _d = _obj.getDate();
					var _H = _obj.getHours();
					var _j = _obj.getDay();
					
					function _set_time_range(t1 ,t2){
						$('#time1').val(date('Y-m-d H:i:s', t1));
						$('#time2').val(date('Y-m-d H:i:s', t2));
					}
					
					function _valid_time_range(time, obj){
						var time1 = $('#time1').val();
						var time2 = $('#time2').val();
						if(time2 && time1 >= time2){
							$(obj).val('');
						}
					}
				</script>
			</td>
		</tr>
		</tbody>
		</form>
		
		<form action="{$core.admin_controller}/{$this_system.name}/item-view_to_html" method="post">
		<tbody>
		<tr>
			<td align="right" ><input class="html_btn" type="submit" value="一键静态ID段内容" /></td>
			<td>
				<input type="text" class="txt" name="id_range" size="50" /> 格式: 指定id:1,2,3 范围:4-9,50-100,200-,-1000
			</td>
		</tr>
		</tbody>
		</form>
		
		<tr>
			<td class="tdL">&nbsp;</td>
			<td class="tdR">&nbsp;</td>
		</tr>
	</table>
	
</div>

<!--{template $core footer admin}-->
<!--{/php168}-->
