<cmp 
	name = "感谢CMP播放器；作者：cenfun（可修改）" 
	link = "http://bbs.cenfun.com/" 
	link_target = "_blank"  
	logo = "{src:logo.png,xywh:[10,10,0,0]}"
	logo_alpha = "0.7"
	skins = "skins/sina.zip"
	plugins = "{src:plugins/starbtn.swf,xywh:[0c,0c,105,105]},plugins/sharing.swf,{src:plugins/p8star.swf,xywh:[0c,26r,100p,100p]},{src:plugins/startime.swf,xywh:[0B,34r,160,20]}"  
	backgrounds = "" 
	share_cmp = "0" 
	mixer_src = "plugins/music.swf"
	lists = ""
	context_menu = "2"
	skin_id = "1"
	play_id = "1"
	auto_play = "0"
	play_mode = "4"
	video_scalemode = "1" 
	video_max = "0"
/>
