<!--{php168}-->
<!--底部广告-->

<div class="ads margin_top">
	<img src="{$SKIN}footad.gif" />
</div>
<div id="footer" class="margin_top">
	<ul>
		<li>{$core.CONFIG['copyright']}</li>
		<li>Copyright@{$core.CONFIG['url']} all rights reserved <a href="http://www.miibeian.gov.cn" target="_blank">{$core.CONFIG['copyright_domain']}</a></li>
		<li>Powered by <a href="http://www.php168.net" target="_blank">国微软件</a> Code &copy; 2003-2010 <a href="http://www.php168.net" target="_blank">PHP168cms</a></li>
		<li>广州协天软件科技有限公司</li>
		<!--{if !empty($core->CONFIG['statistics'])}-->
		<li>{$core.CONFIG[statistics]}</li>
		<!--{/if}-->
	</ul>
</div>
</div>
</body></html><!--{/php168}-->