<!--{php168}-->
<ul class="label_pic_com_ul">
	<!--{foreach $list $value}-->
	<li style="mbottom15">
		<a href="$value[url]" target="_blank" title="$value[full_title]"><img width="60" height="60" alt="$value[full_title]" onError="this.src='$RESOURCE/images/nopic.jpg'" src="{if empty($value['frame'])}{$RESOURCE}/images/nopic.jpg{else}$value[frame]{/if}" /></a>
		<h2><a href="$value[url]" target="_blank" title="$value[full_title]">$value[title]</a></h2>
		<p class="label_summary2">$value[summary]<span class="cDRed"><a href="$value[url]" target="_blank">[详细]</a></span></p>
		<p class="clear"></p>
	</li>
	<!--{/foreach}-->
	<li class="clear"></li>
</ul>
<!--{/php168}-->


