<!--{php168}-->
<div class="mainbox mainborder">
	<div class="section">
		<table class="formtable">
			<tr>
				<td class="title">{$P8LANG['operation']}</td>
			</tr>
			<tr>
				<td class="headerbtn_list">
					<ul>
						<li><a href="{$core.admin_controller}/core-navigation_menu_list">{$P8LANG['navigation_menu_manage']}</a></li>
						<li><a href="{$core.admin_controller}/core-menu_list">{$P8LANG['menu_manage']}</a></li>
						<li><a href="{$core.admin_controller}/core-member_menu_list">{$P8LANG['member_menu_manage']}</a></li>
						<li><a href="{$core.admin_controller}/core-template_system">模板设置</a></li>
						<li><a href="{$core.admin_controller}/core-template_mobile">移动版设置</a></li>
						<li class="li5"><a href="$this_router-cache">{$P8LANG['update_cache']}</a></li>
					</ul>
				</td>
			</tr>
			
		</table>
	</div>
</div>
<!--{/php168}-->