<!--{php168}-->
<!--{template $core header admin}-->

<form action="$this_url" method="post" id="form">
	<div class="mainbox mainborder">
		<div class="section">
			<table width="100%" class="columntable formtable hover_table">
				<tr>
					<td colspan="10" class="title">{$P8LANG['module']} {$P8LANG['list']}</td>
				</tr>
				
				<tr>
					<td width="10%">{$P8LANG['module_name']}</td>
					<td width="40%">{$P8LANG['module_alias']}</td>
					<td width="10%">{$P8LANG['install']}</td>
					<td width="5%">{$P8LANG['enabled']}</td>
					<td width="5%">{$P8LANG['uninstall']}</td>
				</tr>
				<script type="text/javascript">
					var modules = {},
						hook_modules = {},
						system_json = $system_json,
						module_json = $module_json;
				</script>
				
				<!--{foreach $list $k $v}-->
				<tr>
					<td>{$k}</td>
					<td>{$v['alias']} <!--{if !empty($this_system->CONFIG['hook_modules'][$k])}--><font color="blue">{$P8LANG['hook_module']}</font><!--{/if}--></td>
					<td>
						<!--{if $v['installed']}-->
						<input type="button" class="status_btn2" value="{$P8LANG['installed']}" onclick="install_module('$k')"/>
						<!--{else}-->
						<input type="button" class="status_btn" value="{$P8LANG['installmodule']}" onclick="install_module('$k')"/>
						<!--{/if}-->
					</td>
					<td class="enables">
						<!--{if $v['enabled']}-->
						<img src="{$SKIN}/check_yes.gif" style="cursor: pointer;" alt="$k" title="1" />
						<!--{else}-->
						<img src="{$SKIN}/check_no.gif" style="cursor: pointer;" alt="$k" title="0" />
						<!--{/if}-->
					</td>
					<td>
						<img src="{$SKIN}/check_no.gif" style="cursor: pointer;" onclick="uninstall_module('$k')" />
					</td>
				</tr>
				<script type="text/javascript">
					modules['$k'] = {installed: '{$v['installed']}', enabled: '{$v['enabled']}'};
					hook_modules['$k'] = {};
					<!--{foreach $this_system->CONFIG['hook_modules'][$k] $sys $mods}-->
					hook_modules['$k']['$sys'] = {};
						<!--{foreach $mods $mod $vv}-->
					hook_modules['$k']['$sys']['$mod'] = '$vv';
						<!--{/foreach}-->
					<!--{/foreach}-->
				</script>
				<!--{/foreach}-->
				
			</table>
		</div>
	</div>
	
	<input type="hidden" name="system" value="$system" />
	<input type="hidden" name="module" value="" />
	<input type="submit" value="{$P8LANG['refresh_module']}" style="margin-left:5px;margin-top:10px;" />
	<div id="submits"></div>
</form>

<script type="text/javascript">
	
	function install_module(module){
		if(!confirm('{$P8LANG['install_module?']}')) return;
		
		if(modules[module].installed){
			if(!confirm('{$P8LANG['module_installed_reinstall?']}'))
				return;
		}
		
		$('input[name=module]').val(module);
		$('#form').attr('action', '$this_router-install_module').submit();
	}
	
	function uninstall_module(module){
		if(confirm('{$P8LANG['uninstall_module?']}')){
			$('input[name=module]').val(module);
			$('#form').attr('action', '$this_router-uninstall_module').submit();
		}
		return;
	}
	
	$('.enables img').click(function(){
		var module = this.alt;
		var enabled = this.title;
		
		$(this).attr('src', enabled == 1 ? '{$SKIN}/check_no.gif' : '{$SKIN}/check_yes.gif').
		attr('title', enabled == 1 ? 0 : 1);
		
		$('#submits').append('<input type="hidden" name="enables['+ module +']" value="'+ (enabled == 1 ? 0 : 1) +'" />');
	});
</script>

<!--{template $core footer admin}-->
<!--{/php168}-->
