<!--{php168}-->
<!--{template $core header admin}-->
<!--{template $core menu_bar/admin_acl_menu_bar admin}-->

<form action="$this_url" method="POST" onsubmit="check_privileges()">
	<div class="mainbox mainborder">
		<div class="section">
			<table border="0" width="100%" cellpadding="0" cellspacing="0">
				<tr><td>
				<table class="columntable formtable">
				<tr>
					<td class="title"></td>
				</tr>
				<tr>
					<td class="headerbtn_list">
						<ul style="background: #D5E9FF;">
							<li>
								<a href="{$core.admin_controller}/core-set_admin_acl?role_id=$role_id">
								<!--{if $SYSTEM == 'core'}-->
								<b>{$P8LANG['core']}</b>
								<!--{else}-->
								{$P8LANG['core']}
								<!--{/if}-->
								</a>
							</li>
							
							<!--{foreach $core->systems $k $v}-->	
							<li>
								<a href="{$core.admin_controller}/$k-set_admin_acl?role_id=$role_id">
								<!--{if $SYSTEM == $k}-->
								<b>{$v['alias']}</b>
								<!--{else}-->
								{$v['alias']}
								<!--{/if}-->
								</a>
							</li>
							<!--{/foreach}-->
						</ul>
					</td>
				</tr>
				</table>
				</td></tr>
				
				<tr><td>
				<table class="columntable formtable">
				<tbody class="privileges">
				
				<!--{template $role acl_admin_action admin}-->
				
				<!--{foreach $acls $module $_acl}-->
				<!--{template $role acl_module_admin_action admin}-->
				<!--{/foreach}-->
				
				</tbody>
				</table>
				</td></tr>
			</table>
			<input type="hidden" name="role_id" value="{if !empty($role_id)}$role_id{/if}" />
			<input type="submit" value="{$P8LANG['submit']}" class="submit_btn" style="margin-left:5px;margin-top:10px;" />
		</div>
	</div>
</form>


<script type="text/javascript">
function check_privileges(){
	$('.privileges input[type=checkbox]').each(function(i){
		if(!this.checked){
			this.checked = true;
			this.value = 0;
		}
	});
}
</script>

<!--{template $core footer admin}-->
<!--{/php168}-->