<!--{php168}-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta content="text/html; charset=gbk" http-equiv="Content-Type">
<title>{$TITLE}</title>
<meta content="局长信箱" name="keywords">
<meta content="局长信箱" name="description">
<script type="text/javascript" src="{$RESOURCE}/js/config.js"></script>
<script type="text/javascript" src="{$RESOURCE}/js/util.js"></script>
<script type="text/javascript" src="{$RESOURCE}/js/lang/core/{$core.CONFIG['lang']}.js"></script>
<link rel="stylesheet" type="text/css" href="{$SKIN}common.css" />
<link rel="stylesheet" type="text/css" href="{$RESOURCE}/skin/default/core/letter/style.css" />
</head>
<body>
<div class="boxouter">
<h1 style="text-align:center">$label[reply_title]</h1>
<h1 style="text-align:center">$label[reply_title2]</h1>
<div class="table_hd"><div class="fl b">编号:<span>{$data['number']}（{$data['code']}）</span></div>
<div class="fl m">$label[reply_t3]</div><div class="fr b">申请日期:<span><!--{php echo date('Y-m-d',$data['create_time']);}--></span></div></div>
<table class="mailtb" width="100%" cellspacing="0" cellpadding="0" border="1" style="border-collapse: collapse;">
  <tr>
    <td width="143" class="grey b center">申请人</td>
    <td width="168" class="red">{$data['username']}</td>
    <td width="246" class="grey b center">性别</td>
    <td width="255" class="red">{if $data['gender']==1}男{else}女{/if}</td>
  </tr>
  <tr>
    <td class="grey b center">年龄</td>
    <td width="168" class="red">{$data['age']}</td>
    <td class="grey b center">职业</td>
    <td width="168" class="red">{$data['profession']}</td>
  </tr>
  <tr>
    <td class="grey b center">证件类型</td>
    <td width="168" class="red">{$id_type[$data['id_type']]}</td>
    <td class="grey b center">证件号码</td>
    <td width="168" class="red">{$data['id_num']}</td>
  </tr>
  <tr>
    <td class="grey b center">联系电话</td>
    <td width="168" class="red">{$data['phone']}</td>
    <td class="grey b center">电子邮件</td>
    <td width="168" class="red">{$data['email']}</td>
  </tr>
  <tr>
    <td class="grey b center">联系地址</td>
    <td colspan="3" class="red">{$data['address']}</td>
  </tr>
   <tr>
    <td class="grey b center">主题</td>
    <td colspan="3" class="red">{$data['title']}</td>
  </tr>
  <tr>
    <td class="grey b center">内容</td>
    <td colspan="3" class="fonty">
    <span lang="zh-cn" xml:lang="zh-cn">{$data['data'][0]['content']}</span></td>
  </tr>
  <!--{if !empty($data['data'][0]['attachment'])}-->
  <tr>
    <td class="grey b center">附件</td>
    <td colspan="3" class="red"><a href="{$data['data'][0]['attachment']}" target="_blank">{$data['data'][0]['attachment_name']}</a></td>
  </tr>
   <!--{/if}-->
</table>
<div class="clear"></div>
<!--{php $item=$data['data'][0];}-->
<div class="rlink"><a>信件处理</a></div>
<form action="" method="post">
<table class="mailtb" width="100%" cellspacing="0" cellpadding="0" border="1" style="border-collapse: collapse;">
  <tr>
    <td width="143" class="grey b center">受理部门</td>
    <td width="168" class=" red">
		<select name="department" id="department">
	  <!--{foreach $cates['department'] $key $row}-->
		  <option value="{$row['id']}" {if !empty($data['department']) && $data['department']==$row['id']}selected{/if}>{$row['name']}</option>
	   <!--{/foreach}-->   
		</select></td>
    <td width="246" class="grey b center">问题类别</td>
    <td width="255" class="red">
		<select name="type" id="type">
		 <!--{foreach $cates['type'] $key $row}-->
		  <option value="{$row['id']}" {if !empty($data['type']) && $data['type']==$row['id']}selected{/if}>{$row['name']}</option>
	   <!--{/foreach}--> 
		</select>
	</td>
  </tr>
  
  <tr>
    <td class="grey b center">状态</td>
    <td colspan="3">&nbsp;
		<input type="radio" name="status" value="0" {if $data['status']==0}checked{/if}/>{$P8LANG['status_0']}
		<input type="radio" name="status" value="1" {if $data['status']==1}checked{/if}/>{$P8LANG['status_1']}
		<input type="radio" name="status" value="2" {if $data['status']==2}checked{/if}/>{$P8LANG['status_2']}
		<input type="radio" name="status" value="3" {if $data['status']==3}checked{/if}/>{$P8LANG['status_3']}
	</td>
  </tr>
  <tr>
   <td class="grey b center">回复：</td>
			<td style="padding:10px" colspan="3">
			<textarea id="content" name="reply[{$item['id']}]" style="width:100%; height:80px" onchange="ifedit(this)">$item[reply] </textarea>
			<input type="hidden" name="reply_id[{$item['id']}]" value="{$item['id']}"/>
			常用短语:<select onchange="inputextarea(this)"><option value="">-请选择-</option><!--{foreach $shortcuts $sh}--><option value="{$sh['content']}">{$sh['content']}</option><!--{/foreach}--></select>
			<!--{if !empty($item['reply_time'])}-->
			<div class="mtop10">回复时间：<!--{php echo date("Y-m-d H:i",$item['reply_time']);}--></div>
			<!--{/if}-->
		</td>
   </tr>
</table>
<div class="clear"></div>
<p style="border:1px solid #CDCDCD; background-color:#E0D5C3;line-height:30px; text-align:center; margin:10px 0">请工作为员三个工作日内回复相关问题</p>
<div style="text-align:center;padding:10px"><input type="submit" value=" 确定 "/>     <input type="reset" value=" 取消 "/>      <input type="button" value=" 关闭 " onclick="javascript:window.close()"/></div>
<input type="hidden" name="id" value="$id"/>

<p style="text-align:right; margin:30px 0 20px 0">
【<a href="javascript:;" onclick="message.send($data[uid])"><img src="{$RESOURCE}/images/qyfa.gif" border="0" align="top"/></a>】 
【<a  href="{$this_url}?act=del&id={$data['id']}" onclick="javascript:if(!confirm('确定要删？'))return false;" target="_blank">删除</a>】
【<a href="javascript:;"  onclick="window.close()">关闭</a>】 
</p>
</div>
</body>
</html>
<script type="text/javascript">
var message = new Message();
function ifedit(obj){
$(obj).next().val(1)
}
function inputextarea(obj){
	$('#content').val($(obj).val());
}
</script>
<!--{/php168}-->