<!--{php168}-->
<!--{template $this_system header}-->

<script type="text/javascript" src="{$RESOURCE}/js/upload.js"></script>
<div class="wrapbox">
	<!-- 右边 -->
	
	
	<div id="blockinner" class="float_left blockleft_mleft">
		<div class="wrapbox light_blue_border margin_bottom">
			<div class="topic_title light_blue_bg">
				<h3 class="icon_view_title float_left">{$P8LANG['ask_question']}
					<span id="status">
						(
						<!--{if $status==3}-->
							{$P8LANG['ask_item_end']}
						<!--{else}-->
							<!--{if $is_closed}-->
								{$P8LANG['ask_item_closed']}
							<!--{else}-->
								{$P8LANG['ask_item_endtime'] $endtime['days'],$endtime['hours'],$endtime['minutes'],$endtime['seconds']}
							<!--{/if}-->
						<!--{/if}-->
						)
					</span>
				</h3>
				<i><a href="javascript:void(0);" onclick="javascript:doResize(20);">{$P8LANG['ask_big']}</a> <a href="javascript:void(0);" onclick="javascript:doResize(14);">{$P8LANG['ask_medium']}</a> <a href="javascript:void(0);" onclick="javascript:doResize(12);">{$P8LANG['ask_small']}</a> | 
				<a href="javascript:void(0);" onclick="javascript:addFavorite({id:{$id}});">{$P8LANG['ask_add_favorites']}</a></i></div>
			<div class="topicbox">
				<h1 class="title"><!--{if !empty($data['sub_title'])}-->{$data['sub_title']}<!--{else}-->{$data['title']}<!--{/if}--></h1>
				<pre id="itemDetail">{$data['content']}</pre>
				<!-- 补充问题 -->
				<div id="item_addition">
					<!--{foreach $addition $k $v}-->
						<li>
							<b>{$P8LANG['ask_addition'] $k+1}<span>(<!--{php echo date('Y-m-d H:i:s',$v['addtime']);}-->)</span></b>
							<br/>
							{$v['content']}
						</li>
					<!--{/foreach}-->
				</div>
			
				<div id="topic_asker_btn">
					<ul class="list">
						<li id="quickBtn"></li>
						<li class="float_right">
							<span>{$P8LANG['ask_by_u']}<!--{if $data['anonymous'] && empty($data['username'])}-->{$P8LANG['ask_anonymous']}<!--{else}--><a href="{$data['uid']}" class="u">{$data['username']}</a><!--{/if}--> -&nbsp;&nbsp;<!--{php echo date('Y-m-d H:i:s', $data['addtime']);}--> </span>
							<input type="button" value="{$P8LANG['ask_addition_question']}" class="addition_btn" onclick="javascript:addAddition({id:{$id}});"/>
						</li>
					</ul>
					<ul id="addition"></ul>
				</div>
				<div id="topic_author">
					<!--{if $is_creator || $allow_edit}-->
						<!--修改按纽-->
						<span id="Tedit"><a href="{$this_router}-edit?id={$id}" class="u">{$P8LANG['edit']}</a></span>
						<script type="text/javascript">
							function edit(options)
							{
								if(options.id == undefined || !reg.test(options.id)){
									alert('{$P8LANG['ask_error']}');
									return false;
								}

								P8_DIALOG({
									element: 'edit_box',
									url: '{$this_router}-edit?id='+options.id,
									modal: false
								});
							}
						</script>
					<!--{/if}-->
					<!--{if $allow_poller}-->
						<span><a href="javascript:void(0);" onclick="javascript:poller({id:{$id}});">{$P8LANG['ask_poller']}</a></span>
					<!--{/if}-->
				</div>
				<div id="item_poller"></div>
				
			</div>
		</div>
		<!--
			$is_creator:提问者本身,去掉可自己回答自己的问题
			$is_answered:是否已回答过
			$is_closed:是否已到期关闭
		-->
		<!-- 快速回答 -->
		<!--{if ($this_system->CONFIG['allow_anonymous_answer'] || !empty($UID)) && !$is_creator && !$is_answered && !$is_closed}-->
		<div class="wrapbox quick_answer_box margin_bottom">
			<form method="post" name="quickForm" id="quickForm" action="{$answer.url}-post">
				<input type="hidden" name="id" value="{$id}"/>
				<input type="hidden" name="cid" value="{$CAT['id']}"/>
				<div class="float_left"><h1>{$P8LANG['ask_quick_answer']}</h1></div>
				<div class="float_left">
					<textarea name="content" id="content" class="quick_content"></textarea><br/>
					<span>
						<input type="submit" name="qbtn" id="qbtn" value="{$P8LANG['ask_submit_answer']}"/></span>&nbsp;
					<!--{if !empty($UID)}--><span><input type="checkbox" name="anonymous" value="1"/> {$P8LANG['ask_anonymous_answer']}</span>&nbsp;&nbsp;<!--{/if}--><a href="#" class="u">{$P8LANG['ask_credit_rule']}</a>
				</div>
			</form>
		</div>
		<script type="text/javascript">		
		var answer_content_length = {$this_system.CONFIG['answer_content_length']};
		var allow_anonymous_answer = <!--{if $this_system->CONFIG['allow_anonymous_answer']}-->true<!--{else}-->false<!--{/if}-->;
		var answerError = {$P8LANG['ask_error_answer'] $this_system->CONFIG['answer_content_length']}'; 
		var loginError = '{$P8LANG['ask_error_nologin']}';
		var quickBtn = '<input type="button" name="" value="{$P8LANG['ask_answer_n']} " class="quick_btn" onclick="javascript:$(\'#quickForm #content\').focus();"/>';
		//加载快速回答按钮
		$('#quickBtn').html(quickBtn);
		$('#quickBtn').addClass('float_left');

		$('#quickForm').validate({
			rules:{
				content:{
					required: true,
					rangelength: [0, answer_content_length]
				}
			},
			messages:{
				content:{
					required: answerError,
					rangelength: answerError
				}
			},
			submitHandler:function(form){
				var UID = get_cookie('UID');

				if(!allow_anonymous_answer){
					if(UID == null){
						alert(loginError);
						return false;
					}
				}

				var action = $('#quickForm').attr('action');
			    $('#quickForm').attr('action', action+'?'+Math.random());
				form.submit();
			},
			onkeyup: false
		});
		</script>
		<!--{/if}-->
		<!--{if !empty($list['best'])}-->
		<!-- 最佳答案 -->
		<div class="wrapbox answerbox light_red_border margin_bottom" style="position:relative">
			<div class="topic_title"><h3 class="float_left icon_best">{$P8LANG['ask_best_answer']}</h3></div>
			<div class="iconb"></div>
			<!--{foreach $list['best'] $key $value}-->
			<div class="answer_content<!--{php if(($key+1)==sizeof($list['best'])){ echo " clearb";}}-->">
				<pre>
				{$value['content']}
				</pre>
				<!--{if ($this_system->CONFIG['allow_anonymous_vote'] || !empty($UID)) && !$value['is_creator']}-->
				<!-- 
					**投票 
					**不能对自己的回答进行投票
					**变量：count=>投票总数,goodvalue=>好评总数,badvalue=>差评总数,good_percentage=>好评百分比,bad_percentage=>差评百分比
				-->
				<div class="vote" id="vote{$value['id']}">
					<b>{$P8LANG['ask_vote']}</b>
					<div class="vote_inner">
						<a href="javascript:void(0);" class="vote_good" onclick="javascript:askVote({id:{$value['id']},result:1});"></a>
						<p>{$P8LANG['ask_vote_good']}<span id="goodvalue">{$value['goodvalue']}</span></p>
						<div class="vote_outer"><div class="goodblue" id="goodbar" style="width:{$value['good_percentage']}%;"></div></div>
					</div>
					<div class="vote_inner">
						<a href="javascript:void(0);" class="vote_bad" onclick="javascript:askVote({id:{$value['id']},result:0});"></a>
						<p>{$P8LANG['ask_vote_bad']}<span id="badvalue">{$value['badvalue']}</span></p>
						<div class="vote_outer"><div class="badblue" id="badbar" style="width:{$value['bad_percentage']}%;"></div></div>
					</div>					
				</div>
				<!--{/if}-->
				<div class="topic_asker">
					<!--{if $value['executor']==3}-->
						{$P8LANG['ask_executor_administrator']}
					<!--{elseif $value['executor']==2}-->
						{$P8LANG['ask_executor_category_administrator']}
					<!--{else}-->
						{$P8LANG['ask_executor_author']}
					<!--{/if}--> 
					{$P8LANG['ask_answer_u']}
					<!--{if $value['anonymous']}-->
						{$P8LANG['ask_anonymous']}
					<!--{else}-->
						<a href="#" class="u">{$value['username']}</a> - <a href="#" class="u">{$P8LANG['ask_tome']}</a><span class="asker_credit">152</span> 
					<!--{/if}-->
					| <!--{php echo date('Y-m-d H:i', $value['addtime']);}-->
					<!--{if (empty($UID) && $this_system->CONFIG['allow_anonymous_poller']) || $answer_controller->check_action('poller')}-->
						&nbsp;<a href="javascript:void(0);" onclick="javascript:answer_poller({id:{$value['id']},tid:{$id}});" class="s">{$P8LANG['ask_poller']}</a>
					<!--{/if}-->
					</div>
					<div id="answer_poller_{$value['id']}"></div>	
			</div>		
			
			<!--{/foreach}-->
		</div>
		<script type="text/javascript">
		function askVote(options)
		{
			if(options.id == undefined || !reg.test(options.id) || options.result == undefined){
				alert('{$P8LANG['ask_not_chose_record']}');
				return false;
			}

			$.ajax({
				url: '{$this_system.controller}/{$answer.name}-post_votes',
				type: 'POST',
				dataType: 'json',
				data: {id:options.id, result:options.result},
				cache: false,
				success: function(json){
						$('#vote'+options.id+' #goodvalue').html(json.vote_good);
						$('#vote'+options.id+' #goodbar').css({width:json.good_percentage+'%'});
						$('#vote'+options.id+' #badvalue').html(json.vote_bad);
						$('#vote'+options.id+' #badbar').css({width:json.bad_percentage+'%'});
				}
			});
		}
		</script>
		<!--{/if}-->
		<!--管理组和专家回答-->
		<!--{template $this_module answer_list_super}-->
		<!--网友回答-->
		<!--{template $this_module answer_list_normal}-->
	</div>
</div>
<script type="text/javascript">
var reg = /^[0-9]*$/;
var uid = get_cookie('UID');

function doResize(size)
{
	$('#itemDetail').css('font-size',size);
	$('#item_addition li').css('font-size',size+'px');
}

function hidden(obj, msg, s, css)
{
	$('#'+obj).html(msg);
	$('#'+obj).css('display', s);
	$('#'+obj).addClass(css);
}

function addFavorite(options)
{
	if(options.id == undefined || !reg.test(options.id)){
		return;
	}	

	if(uid == null || uid == undefined){
		alert('{$P8LANG['ask_error_nologin']}');
		return;
	}

	$.ajax({
		url: '{$this_router}-collection',
		type: 'POST',
		dataType: 'json',
		data: {id:options.id},
		cache: false,
		success: function(json){
			if(!json.length) return;

			if(json == 'exists'){
				alert('{$P8LANG['ask_error_exists_favorites']}');
			}else{
				alert('{$P8LANG['ask_success_add_favorites']}');
			}
		}
	});
	return;
}

function addAddition(options)
{
	if(options.id == undefined || !reg.test(options.id)){
		return;
	}

	if(uid == null || uid == undefined){
		alert('{$P8LANG['ask_error_nologin']}');
		return;
	}

	$.ajax({
		url: '{$this_router}-addition',
		type: 'GET',
		data: 'id='+options.id,
		cache: false,
		success: function(html){
			$('#addition').html(html);
			$('#addition').addClass('addition light_blue_border');
		}
	});
}

function set_best_answer(options)
{
	if(options.id == undefined || !reg.test(options.id)){
		alert('{$P8LANG['ask_error']}');
		return false;
	}

	$.ajax({
		url: '{$answer.url}-set_best_answer',
		type: 'POST',
		dataType: 'json',
		data:{tid:{$id}, id:options.id, bestanswer:1},
		cache: false,
		success:function(json){
			window.location.reload();
		}
	});
}

function poller(options)
{
	if(options.id == undefined || !reg.test(options.id)){
		return;
	}

	$.ajax({
		url: '{$this_router}-poller',
		type: 'GET',
		data: 'id=' + options.id,
		cache: false,
		success: function(html){
			$('#item_poller').html(html);
			$('#item_poller').addClass('addition margin_top light_blue_border');
		}
	});
}

function answer_poller(options)
{
	if(options.id == undefined || options.tid == undefined || !reg.test(options.id) || !reg.test(options.tid)){
		alert('{$P8LANG['ask_error']}');
		return false;
	}

	$.ajax({
		url: '{$answer.url}-poller',
		type: 'GET',
		data: "id="+options.id+"&tid="+options.tid,
		cache: false,
		success: function(html){
			$('#answer_poller_'+options.id).html(html);
			$('#answer_poller_'+options.id).addClass('addition margin_top light_blue_border');
		}
	});
}

function toggle_follow(options)
{
	if(options.id == undefined || !reg.test(options.id)){
		return;
	}

	$('#follow_frame_'+options.id).toggle();
}


//提交追问
function post_follow(options)
{
	if(options.id == undefined || !reg.test(options.id)){
		return;
	}

	if(uid == null || uid == undefined){
		alert('{$P8LANG['ask_error_nologin']}');
		return;
	}

	var content = $('#follow_frame_'+options.id+' #follow_content_'+options.id).val();
	if(content.length<1){
		$('#follow_error_'+options.id).html('{$P8LANG['ask_not_input_content']}').addClass('fields_error');
	}else{
		$('#follow_error_'+options.id).hide();
	}

	$.ajax({
		url: '{$answer.url}-post_follow',
		type: 'POST',
		dataType: 'json',
		data: {tid:{$id}, id:options.id, content:content},
		cache: false,
		success: function(json){
			if(!json.length) return;	
			window.location.reload();
		}
	});
}
function toggle_replay_follow(options)
{
	if(options.id == undefined || !reg.test(options.id)){
		return;
	}

	$('#reply_follow_frame_'+options.id).toggle();
}

//提交补充追问
function post_replay_follow(options)
{alert('ok');
	if(options.id == undefined || !reg.test(options.id) || options.aid == undefined || !reg.test(options.aid)){
		return;
	}

	if(uid == null || uid == undefined){
		alert('{$P8LANG['ask_error_nologin']}');
		return;
	}

	var content = $('#reply_follow_frame_'+options.id+' #replay_follow_content_'+options.id).val();
	if(content.length<1){
		$('#reply_follow_error_'+options.id).html('{$P8LANG['ask_not_input_content']}').addClass('fields_error');
	}else{
		$('#reply_follow_error_'+options.id).hide();
	}

	$.ajax({
		url: '{$answer.url}-post_reply_follow',
		type: 'POST',
		dataType: 'json',
		data: {aid:options.aid, id:options.id, content:content},
		cache: false,
		success: function(json){
			if(!json.length) return;	
			window.location.reload();
		}
	});
}
</script>
<!--{template $this_system footer}-->
<!--{/php168}-->
