<!--{php168}-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="label_table" bgcolor="#ffffff" style="text-align:center;font-size:12px">
	<tr  height="28" class="title" style="color:#333333">	
		<!--{foreach $option['fields'] $field}-->
		<td bgcolor="#e8e8e8" align="center">{$this_model['fields'][$field]['alias']}</td>
		<!--{/foreach}-->
		<td bgcolor="#e8e8e8" align="center">详细情况</td>
	</tr>
	<!--{foreach $list $key $value}-->
	<tr id="item_$value[id]" style="background-color:#F8F8F8">
		
		<!--{foreach $option['fields'] $field}-->
		<td>
			<!--{if !empty($value[$field]) && ($this_model['fields'][$field]['widget']=='radio' || $this_model['fields'][$field]['widget']=='select' || $this_model['fields'][$field]['widget']=='city')}-->
						<a href="$value[url]" target="_blank">{$this_model['fields'][$field]['data'][$value[$field]]}</a>
			<!--{elseif !empty($value[$field]) && ($this_model['fields'][$field]['widget']=='checkbox' || $this_model['fields'][$field]['widget']=='multi_select')}-->
				<!--{foreach $value[$field] $v}-->
							<a href="$value[url]" target="_blank">{$this_model['fields'][$field]['data'][$v]}</a>
				<!--{/foreach}-->
			<!--{elseif !empty($value[$field]) && $this_model['fields'][$field]['widget']=='link'}-->
				<a href="{$value[$field]}" target="{if !empty($this_model['fields'][$field]['widget']['data']['target'])}{$this_model['fields'][$field]['widget']['data']['target']}{/if}">{$this_model['fields'][$field]['alias']}</a>
			<!--{elseif isset($value[$field])}-->
				<a href="$value[url]" target="_blank">{$value[$field]}</a>
			<!--{/if}-->
			<!--{if !empty($this_model['fields'][$field]['units'])}-->
			{$this_model['fields'][$field]['units']}
			<!--{/if}-->
		</td>
		<!--{/foreach}-->
		<td align="center"><a href="$value[url]" target="_blank">详情&gt;&gt;</a></td>
	</tr>
	<!--{/foreach}-->
</table>
<!--{/php168}-->

