<!--{php168}-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="label_ul_b" style="text-align:center">
	<tr  height="18" class="head title">
		
		<!--{foreach $option['fields'] $field}-->
		<td style="color:#464546;border-bottom:1px dashed #cccccc;text-align:center"><font size="2"><b>{$this_model['fields'][$field]['alias']}</font></b></td>
		<!--{/foreach}-->
		<td style="color:#464546;border-bottom:1px dashed #cccccc;text-align:center"><font size="2"><b>详情情况</font></b></td>
	</tr>
	<!--{foreach $list $key $value}-->
	<tr id="item_$value[id]">
		
		<!--{foreach $option['fields'] $field}-->
		<td>
			<!--{if !empty($value[$field]) && ($this_model['fields'][$field]['widget']=='radio' || $this_model['fields'][$field]['widget']=='select' || $this_model['fields'][$field]['widget']=='city')}-->
						{$this_model['fields'][$field]['data'][$value[$field]]}
			<!--{elseif !empty($value[$field]) && ($this_model['fields'][$field]['widget']=='checkbox' || $this_model['fields'][$field]['widget']=='multi_select')}-->
				<!--{foreach $value[$field] $v}-->
							{$this_model['fields'][$field]['data'][$v]}, 
				<!--{/foreach}-->
			<!--{elseif !empty($value[$field]) && $this_model['fields'][$field]['widget']=='link'}-->
				<a href="{$value[$field]}" target="{if !empty($this_model['fields'][$field]['widget']['data']['target'])}{$this_model['fields'][$field]['widget']['data']['target']}{/if}">{$this_model['fields'][$field]['alias']}</a>
			<!--{elseif isset($value[$field])}-->
				{$value[$field]}
			<!--{/if}-->
			<!--{if !empty($this_model['fields'][$field]['units'])}-->
			{$this_model['fields'][$field]['units']}
			<!--{/if}-->
		</td>
		<!--{/foreach}-->
			<td style="text-align:center" id="status_$value[id]" >
			<a class="icon_view" href="$value[url]" target="_blank"><font color="#990000">查看</font></a>
			</td>
	</tr>
	<!--{/foreach}-->
</table>
<!--{/php168}-->

