<!--{php168}-->
</div>
<div class="foot_fl">
	<div class="con">
        <div class="zuo">
            $label[group01_foot_1]
        </div>
        <div class="zhong">
            $label[group01_foot_2]
			<div id="footer_login"><script type="text/javascript" src="{$core.U_controller}/member-login?style=admin_main&id=footer_login"></script></div>			
        </div>
        <div class="you">
           <div class="tp">
				$label[group01_foot_pic]
		   </div>
		   <span>$label[group01_foot_tit]</span>
        </div> 
	</div> 
    <div class="xia">
        <div class="wd">
            {$core.CONFIG['copyright']}
        </div>
    </div>       
</div>
</body>
</html>
<!--{/php168}-->
