<!--{php168}-->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta name ="renderer" content="webkit">
<meta http-equiv="Content-Type" content="charset={$core.CONFIG['page_charset']}" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>$TITLE</title>
<meta name="keywords" content="$SEO_KEYWORDS" />
<meta name="description" content="$SEO_DESCRIPTION" />
<link rel="stylesheet" type="text/css" href="{$SKIN}../core/common.css" />
<link rel="stylesheet" type="text/css" href="{$SKIN}../core/head_foot/style.css" />
<link rel="stylesheet" type="text/css" href="{$RESOURCE}/skin/label/label.css" />
<link rel="Shortcut Icon" href="favicon.ico">
<!--[if lt IE 9]>
    <script src="{$RESOURCE}/js/html5shiv.min.js"></script>
    <script src="{$RESOURCE}/js/respond.min.js"></script>
<![endif]-->
<script src="//cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>
<script type="text/javascript" src="{$RESOURCE}/plus/layer/layer.js"></script>
<script src='//player.polyv.net/script/polyvplayer.min.js'></script>
<script type="text/javascript" src="{$RESOURCE}/js/config.js"></script>
<script type="text/javascript" src="{$RESOURCE}/js/util.js"></script>
<script type="text/javascript" src="{$RESOURCE}/js/lang/core/{$core.CONFIG['lang']}.js"></script>
<!--{if $SYSTEM != 'core'}-->
<script type="text/javascript" src="{$RESOURCE}/js/lang/$SYSTEM/{$core.CONFIG['lang']}.js"></script>
<!--{/if}-->
<script type="text/javascript">
<!--{template_init_js}-->
</script>
<script type="text/javascript">
jQuery(document).ready(function(){
  var qcloud={};
  $('[_t_nav]').hover(function(){
    var _nav = $(this).attr('_t_nav');
    clearTimeout( qcloud[ _nav + '_timer' ] );
    qcloud[ _nav + '_timer' ] = setTimeout(function(){
    $('[_t_nav]').each(function(){
    $(this)[ _nav == $(this).attr('_t_nav') ? 'addClass':'removeClass' ]('nav-up-selected');
    });
    $('#'+_nav).stop(true,true).slideDown(200);
    }, 150);
  },function(){
    var _nav = $(this).attr('_t_nav');
    clearTimeout( qcloud[ _nav + '_timer' ] );
    qcloud[ _nav + '_timer' ] = setTimeout(function(){
    $('[_t_nav]').removeClass('nav-up-selected');
    $('#'+_nav).stop(true,true).slideUp(200);
    }, 150);
  });
});
</script>
</head>
<body>
<div class="header">
    <div class="topbox">
		<div class="top">
			<div class="zuo">$label[group01_top_1]</div>
			<div class="you">
				<div class="toplogin">
					<div id="header_t">
						<span id="header_login" class="user-login"><script type="text/javascript" src="{$core.U_controller}/member-login?style=com&id=header_login"></script></span>   
					</div>
				</div>
				<div class="topscan">
					<ul>
						<li class="toggleCode">
							<span class="phone" href="javascript:void(0)">手机版</span>
							<div class="codeDiv" style="display: none;">$label[group01_top_pic01]</div>
						</li>
						<li class="toggleCode">
							<span class="wechat" href="javascript:void(0)">微信</span>
							<div class="codeDiv" style="display: none;">$label[group01_top_pic02]</div>
						</li>
					</ul>
				</div>
			</div>  
			<div class="fir">
				<div class="dropdown">
					$label[group01_top_2]
				</div>
			</div>
		</div>
    </div>
    <div class="head-v3">
		<div class="navigation-up">
			<div class="navigation-inner">
				<div class="navigation-v3">
					<div class="logo_fl"><a href="{$core.controller}"><img src="{$SKIN}../core/head_foot/logo.png" /></a></div>
					<ul>
						<li class="nav-up-selected-inpage" _t_nav="home">
							<h2> <a href="{$core.controller}">首页</a> </h2>
						</li>
						<!--{php $loadsystem = ($SYSTEM == $core->CONFIG['index_system'] || $core->CONFIG['CoreMenu'])? 'core' : $this_system->name;}-->
						<!--{php $navigation_menu = $CACHE->read('', $loadsystem, 'navigation');}-->
						<!--{php $i = 0;}-->
						<!--{foreach $navigation_menu['menus'] $k $v}-->
						<!--{php $i++;}-->
						<li class="" _t_nav="tab$i">
							<h2> <a href="$v[url]">$v[name]</a> </h2>
						</li>
						<!--{/foreach}--> 
					</ul>
				</div>
			</div>
		</div>
		<div class="navigation-down" style="z-index:1111">
		<!--{php $loadsystem = ($SYSTEM == $core->CONFIG['index_system'] || $core->CONFIG['CoreMenu'])? 'core' : $this_system->name;}-->
		<!--{php $navigation_menu = $CACHE->read('', $loadsystem, 'navigation');}-->
		<!--{php $i = 0;}-->
		<!--{foreach $navigation_menu['menus'] $k $v}-->
		<!--{php $i++;}-->
		<!--{if !empty($v['menus']) && $core->CONFIG['ShowMenu']}-->
			<div id="tab$i" class="nav-down-menu menu-3 menu-1" style="display: none;" _t_nav="tab$i">
				<div class="navigation-down-inner">
					<div class="xiala">
						<div class="mklist">
							<ul>
								<!--{foreach $v['menus'] $k2 $v2}-->
								<li class="ahover"><a href="$v2[url]">$v2[name]</a></li>
								<!--{/foreach}-->
							</ul>   
						</div>
						<div  class="gaikuang"> <img src="{$SKIN}../core/head_foot/11_03.jpg"/> </div>
						<div class="ggk">
							<p>国微科技集团公司是经党中央、国务院批准，由中国电力投资集团公司与国家核电技术公司合并重新组建的大型国有企业，注册资本金450亿元，资产总额7223亿元。</p>
						</div>
					</div>
				</div>
			</div>
		<!--{/if}--> 
		<!--{/foreach}--> 
		</div>
	</div>
</div>
<script type="text/javascript">
var USERNAME = get_username();
$(document).ready(function(){
	//**show_edit**//					   
	init_labelshows('header_t');
	$('.fir .dropdown').hover(function(){
		$(this).addClass('s'); 
		$(this).find('ul.list').slideDown(180);
	},function(){
		$(this).removeClass('s');
		$(this).find('ul.list').slideUp(80);
	})
})
</script>
<script type="text/javascript">
$(".toggleCode").each(function(){
	var code = $(this).find('.codeDiv');
	$(this).hover(function() {
		code.show();
	}, function() {
		code.hide();
	});
})
</script>
<div id="content">
<!--{/php168}-->
