<!--{php168}-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$core.CONFIG['page_charset']}" />
<title>$TITLE</title>
<meta name="keywords" content="$SEO_KEYWORDS" />
<meta name="description" content="$SEO_DESCRIPTION" />
<link rel="stylesheet" type="text/css" href="{$SKDIR}core/common.css" />
<link rel="stylesheet" type="text/css" href="{$SKDIR}core/head_foot.css" />
<link rel="stylesheet" type="text/css" href="{$RESOURCE}/skin/label/label.css" />
<link rel="Shortcut Icon" href="favicon.ico">
<script type="text/javascript" src="{$RESOURCE}/js/config.js"></script>
<script type="text/javascript" src="{$RESOURCE}/js/util.js"></script>
<script type="text/javascript" src="{$RESOURCE}/js/lang/core/{$core.CONFIG['lang']}.js"></script>
<!--{if $SYSTEM != 'core'}-->
<script type="text/javascript" src="{$RESOURCE}/js/lang/$SYSTEM/{$core.CONFIG['lang']}.js"></script>
<!--{/if}-->
<script type="text/javascript">
<!--{template_init_js}-->
</script>
</head>
<body>
<div class="gov_frame">
	<div class = "gov_head2">
		<div class = "gov_logo2">
			<img src = "{$RESOURCE}/skin/intranet/core/intranet_logo.gif" />
		</div>
		<div class = "gov_head_ad_image2">
			$label[intranet_img]
		</div>
	</div>
	<div class="gov_nav2">
       <span class="intranet_nav">$label[intranet_title]</span>
	</div>
</div>
<div class="gov_frame">
<!--{/php168}-->

