/*
*author haibin<bingbin1321@live.com>
*/
html, body {
/*-webkit-tap-highlight-color:rgba(0,0,0,0);*/
font-size:14px;
}
html, body, div, section, article, nav, menu, time, footer, header, input, p, a, img, span, em, ol, li, ul, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0
}
ol, ul, li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: #000;
}
body {
	font-family: Tahoma, Microsoft YaHei, Verdana, Arial, Helvetica, sans-serif;
	background-color: #f4f4f4;
	position: relative;
}
/*导航*/

.ui-header-bar{
	height: 40px;
	background-color: rgba(25, 127, 207, 1);
	position: relative;
	border-bottom: 1px solid rgba(4, 67, 119, 0.7);
	-webkit-box-shadow: inset 0 -3px 5px rgba(70, 70, 70, 0.2);
}
.ui-bottom-bar {
	background-color: rgba(25, 127, 207, 1);
	position: relative;
	border-bottom: 1px solid rgba(4, 67, 119, 0.7);
	-webkit-box-shadow: inset 0 -3px 5px rgba(70, 70, 70, 0.2);
	color:#FFF
	
}
.ui-bottom-bar ul{
	padding:10px; font-size:12px;
}
.ui-bottom-bar a{
	color:#FFF;
	padding:10px; font-size:12px;
}
.ui-header-bar h1 {
	text-align:center;
	padding-top:10px;
	font-size:16px;
	color:#FFF
}
.ui-menu-trigger {
	position: absolute;
	width: 26px;
	height: 21px;
	background: url(menu.png) no-repeat 0 0;
	background-size: cover;
	cursor:pointer;
}
.js-menubtn-top{
	top: 10px;
	left: 10px;
}
.js-menubtn-foot{
	top: 10px;
	right: 10px;
	padding:0;
}
.ui-categorys {
	
	background-color: #4d4d4d;
	position: relative;
}
.categorys-top{
	top:-2px;
}
.categorys-foot{
	bottom:70px;
	position: absolute;
	width:100%;
}
.ui-categorys ul {
	overflow:hidden;
	position: relative;
}
.ui-categorys ul:after {
	content: "";
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #4d4d4d;
}
.ui-categorys li {
	-webkit-box-sizing: border-box;
	float: left;
	width: 49%;
	border-bottom: 1px solid #666;
	position: relative;
	line-height: 2;
	background-position: 14px 10px;
	background-size: 14px 14px;
	background-repeat: no-repeat;
	border-left:1px solid #000;
}
.ui-categorys li:after {
	content: "";
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	-webkit-box-shadow: inset 0 -1px 1px #333;
	box-shadow: inset 0 -1px 1px #333;
}
.ui-categorys a {
	padding-left: 36px;
	color:#FFF;
	display:block;
}
.ui-menu-home{
	position: absolute;
	width: 26px;
	height: 21px;
	background: url(home.png) no-repeat 0 0;
	background-size: cover;
	top: 10px;
	left: 10px;
	}
/**列表**/
.content-primary{
	padding:10px 0;
	line-height:30px;
	font-size:14px
	}
.content-title{
	height:30px;
	background: url(title_bg.png) repeat-x;
	font-size:16px;
	font-weight:bold;
	color:#FFF;
	vertical-align:middle;
	line-height:30px;
	padding-left:10px;
	
	}
.more{
	float:right;
	color:#FFF;
	margin-right:10px;
	font-size:12px;
	font-weight:normal
}
.more a{
	color:#FFF;
	font-size:12px;
	font-weight:normal
}

.ui-pages{
	height:30px; line-height:30px; font-size:16px;
	}

/*内容**/

.layout-txtcontent-title{
	text-align:center; font-size:18px;	font-weight:bold;
}
.layout-txtcontent-info{
	text-align:center; font-size:14px;	
	border-bottom:1px solid #cccccc;margin-bottom:20px;
}
.layout-text-content{padding:10px}

